.page__footer {
  background-color: var(--bg-footer);

  &--top {
    background-color: var(--bg-footer-top);
  }

  &--middle {
    background-color: var(--bg-footer-middle);
  }

  &--bottom {
    background-color: var(--bg-footer-bottom);
  }
}
