@import "../../src/scss/init-components";

.navbar {
  .navbar-toggler {
    border: none;
    padding: 0;
    &:focus {
      box-shadow: none;
    }
    &.collapsed {
      .bi-list {
        display: block;
      }
      .bi-x-lg {
        display: none; 
      }
    }
    .bi {
      color: #{$dark};
      font-size: 30px;
    }
    .bi-list {
      display: none;
    }
    .bi-x-lg {
      display: block;
    }
  }
  .navbar-collapse {
    @include media-breakpoint-up(md) {
      justify-content: flex-end;
      gap: 8px;
    }
    @include media-breakpoint-down(md) {
      margin-top: 24px;
    }
  }
}