/**
 * Variables
 * Variables should follow the $component-state-property-size formula for
 * consistent naming. Examples:
 * $nav-link-disabled-color
 * $modal-content-box-shadow-xs 
 *
 * Customization:
 * To customize Bootstrap variables:
 * Copy the desired variable from node_modules/bootstrap/scss/_variables.scss
 * @see https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
 * Change the value and remove the !default flag.
 * Examples:
 * $body-bg: #000;
 * $body-color: $gray-100;
 */

//  Colors from Bootstrap
$blue: #4ECCA3;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #CE3836;
$orange: #fd7e14;
$yellow: #FFC107;
$green: #008482;
$teal: #20c997;
$cyan: #007CBF;

// Custom colors
$primary: #4ECCA3;
$secondary: #6610f2;
$success: #008482;
$info: #007CBF;
$warning: #FFC107;
$danger: #CE3836;
$light: #f8f9fa;
$dark: #232931;

// Typography
$body-color: $dark;
 
// Color palette
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);