:root {
  --bg-header: #{$primary};
  --bg-header-top: #{$light};
  --bg-header-navbar: #{$primary};
  --bg-header-bottom: #{$primary};

  --color-link-header: #{$dark};
  --color-link-header-hover: #{$dark};
}